<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.jzdevelopers.cstracker">

    <!-- Allows App To Access The Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Application Manifest Settings -->
    <application
        android:allowBackup         ="true"
        android:fullBackupContent   ="true"
        android:hardwareAccelerated ="true"
        android:icon                ="@mipmap/ic_launcher_round"
        android:label               ="@string/app_name"
        android:roundIcon           ="@mipmap/ic_launcher_round"
        android:supportsRtl         ="true"
        android:theme               ="@style/WhiteTheme">

        <!-- Activity About -->
        <activity
            android:name=".settings.About"
            android:screenOrientation="portrait"
        />

        <!-- Activity EventAdd -->
        <activity
            android:name=".event.controller.EventAdd"
            android:screenOrientation="portrait"
        />

        <!-- Activity EventExtra -->
        <activity
            android:name=".event.controller.EventExtra"
            android:screenOrientation="portrait"
            />

        <!-- Activity EventView -->
        <activity
            android:name=".event.controller.EventView"
            android:screenOrientation="portrait"
        />

        <!-- Activity MainActivity -->
        <activity
            android:name=".common.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action   android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity SecondaryUserAdd -->
        <activity
            android:name=".user.controller.crud.SecondaryUserAdd"
            android:screenOrientation="portrait"
        />

        <!-- Activity SecondaryUserEdit -->
        <activity
            android:name=".user.controller.crud.SecondaryUserEdit"
            android:screenOrientation="portrait"
        />

        <!-- Activity SecondaryUserView -->
        <activity
            android:name=".user.controller.crud.SecondaryUserView"
            android:screenOrientation="portrait"
        />

        <!-- Activity Settings -->
        <activity
            android:name=".settings.Settings"
            android:screenOrientation="portrait"
        />

        <!-- Activity Theme -->
        <activity
            android:name=".settings.Theme"
            android:screenOrientation="portrait"
        />

        <!-- Activity UserActivation -->
        <activity
            android:name="dev.jzdevelopers.cstracker.user.controller.authentication.UserActivation"
            android:screenOrientation="portrait"
        />

        <!-- Activity UserPasswordReset -->
        <activity
            android:name="dev.jzdevelopers.cstracker.user.controller.authentication.UserPasswordReset"
            android:screenOrientation="portrait"
        />

        <!-- Activity UserSignIn -->
        <activity
            android:name="dev.jzdevelopers.cstracker.user.controller.authentication.UserSignIn"
            android:screenOrientation="portrait"
        />

        <!-- Activity UserSignUp -->
        <activity
            android:name="dev.jzdevelopers.cstracker.user.controller.authentication.UserSignUp"
            android:screenOrientation="portrait"
        />

    </application>

</manifest>